@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;500;600;700&display=swap');

body {
	@apply bg-bg-color text-base text-black;
  font-family: 'Golos Text', sans-serif;
}

.disabled {
	pointer-events: none;
	cursor: default;
	text-decoration: none;
	opacity: 0.2 !important;
}

.close-menu {
	display: none;
}

.scroll::-webkit-scrollbar {
	display: none;
}

#cart_btn {
  border-radius: 2rem;
  background-color: #fa9c23;
  border: none;
  padding: 0.5rem 2rem;
}